body
{
  background-color: rgb( 0, 0, 89);
}

#style1
{
  border-style: none;
  background-color: white;
  width: 700px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  border-radius: 20px;
}

#style2
{
  text-align: center;
  font-family: sans-serif;
  padding-top: 40px;
  color: orange;
}

.blank
{
  width: 150px;
  height: 30px;
}

#display
{
  display: flex;
  padding-top: 70px;
}

#style3
{
  margin-left: auto;
  margin-right: auto;
}

#style4
{
  margin-left: auto;
  margin-right: auto;
}

#equal
{
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.size
{
  width: 157px;
}

#submit
{
  margin-left: 300px;
  margin-top: 70px;
  background-color: orange;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 14px;
}

#error
{
  position: absolute;
  margin-top: 90px;
  margin-left: 300px;
  color: red;
  display: none;
}
